# Configuration file

general {
    # How much hp to heal amphis per max hp when feeding them cocoa beans
    D:"Cocoa Beans - Heal per MaxHP"=0.03999999910593033

    # How much hp to heal amphis per missing hp when feeding them cocoa beans
    D:"Cocoa Beans - Heal per Missing HP"=0.03500000014901161

    # As what stage dragon should the dragon view assume the amphi to be. Higher stages will have the camera be more zoomed out
    # Min: 1
    # Max: 5
    I:"Dragon View - Amphi Dragon Stage"=3

    ##########################################################################################################
    # mixin toggles
    #--------------------------------------------------------------------------------------------------------#
    # Mixin options
    ##########################################################################################################

    "mixin toggles" {
        # With this mixin, amphitheres will come in male and female genders and will only be able to mate with amphitheres of the other gender
        B:"Enable Amphithere Genders"=false

        # With this mixin, cocoa beans will not heal a fixed amount of health (2.5 hearts) anymore but a variable amount depending on the missing health and max health of the amphi.
        B:"Enable Cocoa Bean Heal Change"=false

        # With this mixin, the dragon 3rd person view in F5 can also be used with amphis
        B:"Enable Dragon View"=false

        # With this mixin, amphis will spawn with and breed to various new color variants. There are even some hidden named variants
        B:"Enable New Variants"=true
    }

    "general settings" {
        B:"Enable Amphithere Armor"=false
        B:"Enable Silver Armor Set Bonus"=false
    }

    "xxl chocolate cookie" {
        B:"Enable Cookie"=false
        I:"XXL Chocolate Cookie Buff Duration (Seconds)"=10800
        I:"XXL Chocolate Cookie Effect Strength"=9
    }

    "shivaxi amphithere" {
        B:"Enable Shivaxi Amphithere"=true
        D:"Shivaxi Amphithere Attack Damage"=69.0
        D:"Shivaxi Amphithere Max Health"=500.0
        I:"Shivaxi Amphithere Spawn Chance"=10000
    }

    "mixin options" {
        B:"Advanced Amphithere Taming Damage"=false
        I:"Amphithere Riding Camera Distance"=2
        B:"Amphithere can't pass trough leaves"=false
        I:"Cocoa Bean Healing Divisor"=10
        B:"Enable Amphithere Inventory"=true
        B:"Enable Amphithere View"=false
        B:"Enable Cocoa Bean Heal Change"=false
        B:"Male + Female Breeding"=false
    }

}


